/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./src/app/dashboard/styles.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/* styles.module.css */

.styles_dashboardcontainer__SdUXw {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.styles_dashboardheader__1bnj2 {
  background-color: rgb(10, 10, 168);
  color: #fff;
  padding: 40px;
  text-align: center;
}

.styles_dashboardcontent__xXbfU {
  flex: 1;
  padding: 20px;
  text-align: center;
  background-image: url(/_next/static/media/estudo.90480a09.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.styles_dashboardfooter__BIYnt {
  background-color: rgb(68, 0, 255);
  color: #fff;
  padding: 35px;
  text-align: center;
}

.styles_a__tT2Bt {
  color: #fff;
  text-decoration: none;
  font-size: large;
  font-weight: 500;
}

.styles_p__lycB6 {
  font-size: large;
  font-weight: 700;
}

.styles_h1__A7IZE {
  font-size: xx-large;
  font-weight: 800;
}
